<div class="not-found">
    <div class="notfound-top">
        <h1>404</h1>
    </div>
    <div class="content">
        <i class="fas fa-exclamation-triangle" style="font-size: 150px; color: #15925f;"></i>
        <h3>
            Desculpe-nos, o recurso que você solicitou não está mais disponível.  Volte a página principal e navegue normalmente nos recursos disponíveis.
            <br />
            <br />
            Obrigado!
        </h3>
        <!-- <a *ngIf="auth?.loggedIn" class="link-green" routerLink="/account/my-account" routerLinkActive="active">Minha Conta</a> -->
        <!-- <a *ngIf="!auth?.loggedIn" class="link-green" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i>&nbsp; Home</a> -->
    </div>
    <div class="clear"> </div>
</div>
