<div class="row s4-notdlg" id="banner-container">
    <div class="page-header-internal-img banner-header-page-account">
    </div>
</div>

<div class="row" id="content-main">
    <div>
        <app-breadcrumb></app-breadcrumb>
        <div class="col-xs-12 col-sm-6 col-md-12">
            <!-- Título -->
            <div id="title-area">
                <h1 class="title">D&uacute;vidas Frequentes</h1>
            </div>
            <!-- Conteúdo da página -->
            <div id="content-area">
                <!-- Begin Conteúdo da página -->
                <p></p>
                <div class="text-justify">
                    <p>Para facilitar sua busca apresentamos abaixo as respostas para algumas das perguntas mais frequentes, caso a informação procurada não esteja disponível, entre em <a href="https://www.bnpparibas.com.br/Paginas/Contato.aspx" target="_blank">contato&nbsp;<i class="fa fa-external-link-alt" style="font-size: 10px"></i></a> conosco, teremos grande prazer em ajudá-lo.</p>
                </div>

                <p><span class="highlight text-center">PERGUNTAS MAIS FREQUENTES</span></p>

                <app-panel title="1. Quais informa&ccedil;&otilde;es est&atilde;o dispon&iacute;veis no Internet Banking?"
                           [collapse]="false">
                    <p>
                        No BNP Paribas Internet Banking é possível obter informações sobre seus
                        investimentos, consulta a saldos e movimentações financeiras
                        relativas a Ações, Fundos de Investimento, Títulos de Renda Fixa, Swaps e Ndf.<br />
                        Informações sobre outros tipos de investimentos poderão ser fornecidas pelo seu Gerente de Relacionamento.
                    </p>
                </app-panel>

                <app-panel title="2. Quais informa&ccedil;&otilde;es n&atilde;o podem ser obtidas no Internet Banking?"
                           [collapse]="true">
                    <p>
                        O Internet Banking do BNP Paribas ainda
                        n&atilde;o oferece informa&ccedil;&otilde;es sobre:
                    </p>
                    <ul class="list-square">
                        <li>
                            Administra&ccedil;&atilde;o
                            de Carteira de C&acirc;mbio que envolve os produtos
                            Exporta&ccedil;&atilde;o, Importa&ccedil;&atilde;o,
                            Financiamento &agrave; Importa&ccedil;&atilde;o, Cobran&ccedil;a,
                            Carta de Cr&eacute;dito, Opera&ccedil;&otilde;es Financeiras
                            e Arbitragem.
                        </li>
                        <li>Capital de Giro e Finame.</li>
                        <li>Os Fundos exclusivos do BNP Paribas sob cust&oacute;dia de outros bancos.</li>
                    </ul>

                    <p>
                        As informa&ccedil;&otilde;es indispon&iacute;veis no Internet
                        Banking podem ser obtidas atrav&eacute;s do <a href="https://www.bnpparibas.com.br/Paginas/Contato.aspx" target="_blank">contato&nbsp;<i class="fa fa-external-link-alt" style="font-size: 10px"></i></a> com seu
                        Gerente de Relacionamento.
                    </p>
                </app-panel>

                <app-panel title="3. Tenho d&uacute;vidas sobre como navegar no site. Como fa&ccedil;o para receber ajuda?"
                           [collapse]="true">
                    Para receber ajuda entre em <a href="https://www.bnpparibas.com.br/Paginas/Contato.aspx" target="_blank">contato&nbsp;<i class="fa fa-external-link-alt" style="font-size: 10px"></i></a> conosco.
                </app-panel>

                <app-panel title="4. Tenho d&uacute;vidas sobre as informa&ccedil;&otilde;es consultadas no site ou sobre investimentos."
                           [collapse]="true">
                    <p>
                        O Gerente de Atendimento da conta est&aacute; apto a fornecer
                        todas as informa&ccedil;&otilde;es sobre os investimentos, saldos
                        ou movimenta&ccedil;&otilde;es. Se preferir, entre em <a href="https://www.bnpparibas.com.br/Paginas/Contato.aspx" target="_blank">contato&nbsp;<i class="fa fa-external-link-alt" style="font-size: 10px"></i></a>
                        conosco.
                    </p>
                </app-panel>
                <!-- End Conteúdo da página -->
            </div>
        </div>
    </div>
</div>
