<!-- Meta footer  -->
<footer  class="fixed-botton">
    <div class="container">
        <div class="col-md-6 pull-left footer-baseline"><span class="footer-logo"></span></div>
        <div class="col-md-6">
            <ul class="footer-list pull-right">
                <!-- <li class="footer-item">Seguran&#231;a</li>
                <li class="footer-item"><a href="https://www.bnpparibas.com.br/Paginas/Contato.aspx" target="_blank">Contato&nbsp;<i class="fa fa-external-link-alt" style="font-size: 8px"></i></a></li>
                <li class="footer-item">Links</li>
                <li class="footer-item"><a href="https://www.bnpparibas.com.br/Paginas/Ouvidoria.aspx" target="_blank">Ouvidoria&nbsp;<i class="fa fa-external-link-alt" style="font-size: 8px"></i></a></li> -->
                <!-- <li>&copy; {{year | date: 'yyyy'}} - Internet Banking</li> -->
            </ul>
        </div>
    </div>
</footer>
