<header class="fixed-top">

    <!-- Header -->
    <div class="topbar">
        <div class="container">
            <div id="header" class="row">
                <div class="col-md-10">
                    <!-- classe has-sitename a ajouter si l'element sitename est présent -->
                    <!-- <h1 class="main-logo has-sitename"><a routerLink="./home" routerLinkActive="active">BNP PARIBAS</a> <span class="site-name">Internet Banking</span> <span class="baseline">O banco para um mundo em mudan&#231;a</span></h1> -->
                </div>
            </div>
            <!-- Bouton menu mobile -->
            <!-- <a *ngIf="!auth?.loggedIn" routerLink="./home" class="menu-toggle">Menu<span></span></a> -->
            <!-- <a *ngIf="auth?.loggedIn" routerLink="./account" class="menu-toggle">Menu<span></span></a> -->
        </div>
    </div>
    <app-nav></app-nav>

</header>
