<div class="row pt-1 mb-2">
  <div class="col-md-3 text-center mb-2">
    <h1 class="h5">
    </h1>
  </div>
  <div class="col-md-3 text-center text-danger">
    <h2 class="h5">
    </h2>
  </div>
  <div class="col-md-3 text-center text-primary">
    <h2 class="h5">
    </h2>
  </div>
  <div class="col-md-3 text-center text-warning">
    <h2 class="h5">
    </h2>
  </div>
</div>
<hr>
<!-- https://stackoverflow.com/questions/206652/how-to-create-div-to-fill-all-space-between-header-and-footer-div -->
<!-- https://jsfiddle.net/osvx1zoo/3/ -->
<div class="row" id="content-main">
  <app-breadcrumb></app-breadcrumb>
  <div class="col-xs-12 col-sm-6 col-md-12">
    <!-- <router-outlet></router-outlet> -->
    <nav class="primary-nav" role="navigation">
      <accordion [isAnimated]="true">
        <accordion-group #filtroAccordion heading=".:Filtro" [isOpen]="isFirstOpen">
          <form [formGroup]="abstractForm" (ngSubmit)="onSubmit()" class="form-inline">
            <div class="form-group col-auto" [ngClass]="aplicaCssErro('name')">
              <label for="inputNome" class="form-label mb-2 mr-sm-2 mb-sm-0">Nome</label>
              <input type="text" class="form-control form-control-sm" id="inputNome" formControlName="name">
            </div>
            <button type="submit" class="btn btn-secondary btn-sm  mb-2 mr-sm-2 mb-sm-0">Procurar</button>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mb-sm-0 mt-sm-0" role="alert">
              <div *ngIf="name.errors.required">
                Nome é obrigatório.
              </div>
              <div *ngIf="name.errors.minlength">
                Nome precisa ter no mínimo 3 caracteres.
              </div>
            </div>
          </form>
        </accordion-group>
        <accordion-group #cadastroAccordion heading=".:Cadastro">
          <tabset #tabSet>
            <tab id="lista">
              <ng-template tabHeading>
                <span>&nbsp;Lista de Clientes</span>
              </ng-template>
              <br />
              <app-customer-list (customerSelectedEvent)="onCustomerWasSelected($event)" [show]="true"
                (pageChangedEvent)="onPageChange($event)" [data]="customer$">
              </app-customer-list>
            </tab>
            <tab id="report-income">
              <ng-template tabHeading>
                <span>&nbsp;Edição</span>
              </ng-template>
              <br />
              <app-customer-edit [idCustomer]="customerId" (customersChangedEvent)="onSubmit()"
                (resetFormEvent)="onCustomerWasSelected(0)"></app-customer-edit>
            </tab>
          </tabset>
        </accordion-group>
      </accordion>
    </nav>
  </div>
</div>
