<div class="page-header-link footer-links">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 links">
                <p class="title">BNP Paribas</p>
                <ul>
                    <li><a href="http://www.bnpparibas.com/en" target="_blank">BNP Paribas</a></li>
                    <li><a href="http://www.bnpparibas.com.br/" target="_blank">BNP Paribas Brasil</a></li>
                    <li><a href="http://securities.bnpparibas.com/" target="_blank">BNP Paribas Securites Services</a></li>
                    <li><a href="http://www.bnpparibas.com.br/Paginas/Securities-Services.aspx" target="_blank">BNP Paribas Securities Services Brasil</a></li>
                    <li><a href="http://www.bnpparibas.com.br/Paginas/Corporate-Institutional-Banking.aspx" target="_blank">Corporate & Institutional Banking</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-3 links">
                <p class="title">Outros</p>
                <ul>
                    <li><a href="http://www.anbima.com.br/" target="_blank">ANBIMA</a></li>
                    <li><a href="http://www.cvm.gov.br" target="_blank">CVM</a></li>
                    <li><a href="http://www.comoinvestir.com.br" target="_blank">Como Investir</a></li>
                    <li><a href="https://br.reuters.com/" target="_blank">Reuters</a></li>
                    <li><a href="https://www.bcb.gov.br/" target="_blank">Banco Central</a></li>
                    <li><a href="http://www.b3.com.br/" target="_blank">[B]<sup>3</sup> Brasil Bolsa Balcão</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-3 col-xs-12 footer-social links">
                <p class="title">Siga-nos</p>
                <ul>
                    <li class="twitter">
                        <a href="https://twitter.com/BNPParibas" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/company/bnp-paribas" target="_blank"><i class="fab fa-linkedin"></i> <span>Linkedin</span></a>
                    </li>
                    <li class="youtube">
                        <a href="https://www.youtube.com/user/BNPParibas" target="_blank"><i class="fab fa-youtube"></i> <span>Youtube</span></a>
                    </li>
                    <li class="instagram">
                        <a href="https://instagram.com/bnpparibas/" target="_blank"><i class="fab fa-instagram"></i> <span>Instagram</span></a>
                    </li>
                    <li class="pinterest">
                        <a href="https://pinterest.com/bnpparibas/" target="_blank"><i class="fab fa-pinterest-p"></i> <span>Pinterest</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>